.container #logo {
    width: 300px;
}

#header .row2 img {
    width: 400px;
    height: 400px;
}

#header h2 {
    position: absolute;
    bottom: 200px;
    left: 100%;
}

#works {
    padding: 120px 0;
    background-color: #222;
}

.works-top h2 {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 70px;
    font-style: italic;
    color: #fff;
}

.works-content img {
    width: 75px;
    height: 75px;
}

.works-content h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 500px;
    color: #fff;
}

.works-content .item-circle {
    color: #fff;
}

.about-content p {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700px;
    margin-top: 10px;
}

.about-content {
    padding-top: 50px;
    padding-bottom: 120px;
}

.about-content h3 {
    margin-top: 10px;
    padding-top: 50px;
    padding-bottom: 120px;
}

.about-content .sponsor img {
    padding: 20px;
    width: 130px;
}

#contant {
    background-color: #222;
}

.contant-top {
    color: #fff;
    padding-top: 50px;
}

#contant .iletisim {
    color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
}

#contant ul {
    color: #fff;
}

#contant .row img {
    width: 60px;
    height: 60px;
    margin-bottom: 50px;
}